<body>
  <div class="container">
    <div class = "jumbotron bg-white text-center">
      <br>
      <h1 class="display-3 font-weight-bold text-dark">CovTrac: Covid-19 Tracker</h1>
      <h5 class="font-weight-bold text-secondary">Showing Worldwide Statistics</h5>
      <hr class="my-4">
    </div>
    <app-dashboard [scope]="'worldwide'" [data]="globalData[globalData.length - 2]"></app-dashboard>
    <hr>
    <div class = "row">
      <google-chart class="col-sm-6" [data]="columnChart"></google-chart>
      <google-chart class="col-sm-6" [data]="pieChart"></google-chart>
      <!--<app-bar-graph class="col-sm-6" [tableData]="tableData"></app-bar-graph>
      <app-pie-chart class="col-sm-6" [data]="globalData"></app-pie-chart>-->
    </div>
  </div>
</body>
